<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blog.mapper.ImageMapper">

    <select id="getImages" resultType="blog.entity.ImageDTO">
        select i.id, i.author_id, i.simplify_img, i.original_img, a.album_name
        from image i,album a
        where i.album_id=a.id and i.author_id=#{authorId} limit #{startPage},#{pageSize};
    </select>

    <select id="getImagesByAlbum" resultType="blog.entity.ImageDTO">
        select i.id, i.author_id, i.simplify_img, i.original_img, a.album_name
        from image i,album a
        where i.album_id=a.id and i.author_id=#{authorId} and a.album_name = #{albumName}
        limit #{startPage},#{pageSize};
    </select>

</mapper>
